{% extends 'base.html.twig' %}

{% block title %}Accueil - Répertoire{% endblock %}

{% block body %}
    <section class="hero-section text-center py-5">
        <div class="container">
            <h1 class="display-3">Bienvenue dans notre Répertoire</h1>
            <p class="lead">Trouvez facilement les informations que vous cherchez.</p>
        </div>
    </section>
{% endblock %}