{# La page d'accueil de tout le monde #}

{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue dans le site de recettes !</h1>
{% endblock %}
